@charset "UTF-8";

.form-select {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-select-heading {
  text-align: center;
}

.form-select .form-select-heading {
  margin-bottom: 20px;
}

.form-select .btn {
  background-color: #ff9b19;
  color: white;
}